
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
	width: 1px; /* width of the entire scrollbar */
}
.no-scrollbar::-webkit-scrollbar-track {
	background: #f7f8fa; /* color of the tracking area */
}
.no-scrollbar::-webkit-scrollbar-thumb {
	background-color: #91919100; /* color of the scroll thumb */
	border-radius: 0px; /* roundness of the scroll thumb */
	border: 1px solid #f7f8fa; /* creates padding around scroll thumb */
}
